body {
    background-color: rgb(252, 244, 228, 0.5);
}


/* Login Page */

.s {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4)), url("../images/AdobeStock_228261568.jpeg");
    /* linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: fit-content;
}

* {
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Reem Kufi Fun', sans-serif !important;
}

.p {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}


/* =============================================================================================================================== */


/* Nav bar */

.navsec {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4)), url("../images/bride-1837148.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    min-height: fit-content;
}

.navcol {
    padding: 0px !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbarscroll {
    background-color: rgba(255, 255, 255, 0.8) !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.welmsg {
    font-size: 2rem;
    /* font-weight: bold; */
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.welsec {
    padding-top: 5vh;
    margin-top: auto;
    margin-bottom: auto;
}

.test {
    height: 100vh;
}

@media screen and (max-width: 600px) {
    .nav-link {
        margin-top: 20px;
        min-width: 100%;
    }
    .navsec {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4)), url("../images/bride-1837148.jpg");
        background-position: center;
        background-size: 100% 95%;
        background-repeat: no-repeat;
        min-height: fit-content;
        height: 20vh;
        background-position-y: top;
    }
    .welmsg {
        font-size: 1rem;
        /* font-weight: bold; */
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
    }
    .navi {
        padding-left: 20px;
        padding-right: 20px;
    }
    .welsec {
        padding-top: 6vh;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
    .navcol {
        padding: 0px !important;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    .navbar {
        background-color: rgba(255, 255, 255, 0.3);
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    .navbarscroll {
        background-color: rgba(255, 255, 255, 0.8) !important;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

@media screen and (max-width: 992px) {
    .nav-link {
        margin-top: 20px;
        min-width: 100%;
        margin-right: 20px;
    }
    .navi {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Timer section */

.time {
    background-image: url('../images/Myproject-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: fit-content;
    height: 135px;
    border: none;
    width: 240px;
    min-width: fit-content;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    position: relative !important;
}

.itish {
    min-height: fit-content;
    /* height: 135px; */
    border: none;
    /* width: 240px; */
    min-width: fit-content;
    font-size: 18px;
    font-weight: bold;
    /* text-align: center; */
    background-color: transparent;
    position: relative !important;
}

.pos {
    position: absolute !important;
    top: 41% !important;
    left: 40% !important
}

@media screen and (max-width: 600px) {
    .time {
        background-image: url('../images/Myproject-1.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        min-height: fit-content;
        height: 135px;
        border: none;
        width: 240px;
        min-width: fit-content;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        position: relative !important;
    }
    .pos {
        position: absolute !important;
        top: 41% !important;
        left: 32% !important
    }
}

@media screen and (max-width: 992px) {
    .time {
        background-image: url('../images/Myproject-1.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        min-height: fit-content;
        height: 135px;
        border: none;
        width: 240px;
        min-width: fit-content;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        position: relative !important;
    }
    .pos {
        position: absolute !important;
        top: 41% !important;
        left: 32% !important
    }
}

@media screen and (max-width: 500px) {
    .pos {
        font-size: smaller !important;
        position: absolute !important;
        top: 41% !important;
        left: 32%!important
    }
}

@media screen and (max-width: 408px) {
    .pos {
        font-size: smaller !important;
        position: absolute !important;
        top: 41% !important;
        left: 15%!important
    }
}


/* Dashboard */

img {
    width: 100%;
    height: 100%;
}

.invite {
    background-image: url('../images/AdobeStock_100295281.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: fit-content;
    height: 135px;
    border: none;
    width: 240px;
    min-width: fit-content;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    position: relative !important;
}

@media screen and (max-width: 600px) {
    img {
        width: 50%;
        height: 50%;
    }
}

@media screen and (min-width: 1390px) {
    .cdul {
        padding-left: 13px;
        margin-left: 70px;
    }
    .cdtitle {
        margin-right: 139px
    }
}